# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C / Arduino build artifacts
*.hex
*.elf
*.o

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# Operating System files
.DS_Store
Thumbs.db
